<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Hair By Janice</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,700,700i,900" rel="stylesheet">
  <link href="{{site.baseurl}}/favicon.ico" rel="shortcut icon">
</head>
<body>

  <ul class="skip-links">
    <li class="smooth-scroll"><a href="#work">Jump to main content</a></li>
    <li><a class="skip-scroll" href="#nav">Jump to navigation</a></li>
  </ul>

  <header class="masthead" role="banner">
    <div class=" gutter-1-2 pad-t-1-2 pad-b-1-2">
      <div class="gutter grid grid-middle">
        <div class="unit [ xs-3-4 l-1-3 ]">
          <a class="logo" href="{{site.baseurl}}/">
            <img id="logo" src="{{site.baseurl}}/images/logo.svg" alt="">
          </a>
        </div>
        <div class="unit [ xs-1-4 m-1-4 l-0 ] text-right">
          <a href="#footer-nav" id="nav-tog" class="nav-label" tabindex="0">
            <span class="tog top"></span>
            <span class="tog middle"></span>
            <span class="tog bottom"></span>
          </a>
        </div>
        <nav class="unit [ l-2-3 ] nav-closed" role="navigation">
          <ul class="list-group push-0 smooth-scroll">
            <li><a id="nav" class="island-1-2 block bold mega" href="{{site.baseurl}}/#services">Services</a></li>
            <li><a class="island-1-2 block bold mega" href="{{site.baseurl}}/gallery">Gallery</a></li>
            <li><a id="nav" class="island-1-2 block bold mega" href="{{site.baseurl}}/blog">Blog</a></li>
            <li><a class="island-1-2 block bold mega" href="{{site.baseurl}}/book-online">Book</a></li>
            <li><a class="island-1-2 block bold mega" href="mailto:janicefitz@hotmail.com">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  {{content}}

  <footer id="footer" class=" pad-t">
    <div class="wrapper grid">
      <div class="unit [ xs-1 m-1-3 ] push gutter">
        <h3 class="mega push-1-2">Hair By Janice</h3>
        <ul class="list-group footer-nav">
          <li class="push-1-4"><a class="" href="{{site.baseurl}}/#services">Services</a></li>
          <li class="push-1-4"><a class="" href="{{site.baseurl}}/gallery">Gallery</a></li>
          <li class="push-1-4"><a class="" href="{{site.baseurl}}/blog">Blog</a></li>
          <li class="push-1-4"><a class="" href="{{site.baseurl}}/book-online">Book</a></li>
          <li class="push-1-4"><a class="" href="mailto:janicefitz@hotmail.com">Contact</a></li>
        </ul>
      </div>
      <div class="unit [ xs-1 m-1-3 ] push gutter">
        <h3 class="mega push-1-2">Hours of Operation</h3>
        <div class="">
          <p class="milli white push-0"><strong>Monday</strong> – {{site.data.footer.hours.monday}}</p>
          <p class="milli white push-0"><strong>Tuesday</strong> – {{site.data.footer.hours.tuesday}}</p>
          <p class="milli white push-0"><strong>Wednesday</strong> – {{site.data.footer.hours.wednesday}}</p>
          <p class="milli white push-0"><strong>Thursday</strong> – {{site.data.footer.hours.thursday}}</p>
          <p class="milli white push-0"><strong>Friday</strong> – {{site.data.footer.hours.friday}}</p>
          <p class="milli white push-0"><strong>Saturday</strong> – {{site.data.footer.hours.saturday}}</p>
          <p class="milli white push-0"><strong>Sunday</strong> – {{site.data.footer.hours.sunday}}</p>
        </div>
      </div>
      <div class="unit [ xs-1 m-1-3 ] push gutter">
        <h3 class="mega push-1-2">Contact</h3>
        <div class="push-1-4">
          <p class="milli white push-0">{{site.data.footer.contact.street}}</p>
          <p class="milli white push-0">{{site.data.footer.contact.suite}}</p>
          <p class="milli white push-0">{{site.data.footer.contact.city}}</p>
          <p class="milli white push-0">{{site.data.footer.contact.tel}}</p>
          <p class="milli white push-0">{{site.data.footer.contact.email}}</p>
        </div>
        <a class="social" href="{{site.data.footer.social-media.facebook}}">
          <i class="icon i-32 push-r-1-4">
            <img src="{{site.baseurl}}/images/facebook.svg" alt="">
          </i>
        </a>
        <a class="social" href="{{site.data.footer.social-media.instagram}}">
          <i class="icon i-32">
            <img src="{{site.baseurl}}/images/instagram.svg" alt="">
          </i>
        </a>
      </div>
    </div>
    <div class="copy-right pad-t-1-2 pad-b-1-2 push-0">
      <div class="gutter wrapper push-0">
        <small class="inline-block milli">© Hair By Janice 2018</small>
      </div>
    </div>
  </footer>

</body>
</html>
